
/* Khai báo font Roboto bình thường */
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* Cho phép dùng mọi độ dày từ 100 đến 900 */
  font-style: normal;
}

/* Khai báo font Roboto nghiêng */
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}