@font-face {
  font-family: "Material Symbols Outlined";

  src: url("../../assets/fonts/MaterialSymbolsOutlined.woff2") format("woff2");

  font-weight: 100 700; /* vì đây là variable font */
  font-style: normal;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
}
